@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.2em;
}

html{
    font-size: 62.5%;
    
}


.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}



.info-just-before-table{
    display: flex;
    justify-content: space-between;
}




/* ================== table styling ==================== */

.records-table{
    
    width: 100%;
    text-align: center;
    /* background: black; */
}
.records-table .srno{
    width: 10%;
}
.records-table .title{
    width: 25%;
}
.records-table .desc{
    width: 55%;
}
.records-table .action{
    width: 10%;
}
